<h4><%= t('write_an_appointment') %></h4>

<h5>Выберите симптом:</h5>
<div class="caption">
<%= simple_form_for @illness_request do |f| %>
      <%= f.association :symptoms, label_method: :title, as: :check_boxes %>
    <!--< %= f.collection_check_boxes :symptom_ids, @symptoms, :id, :title %>-->
    <%= f.button :submit, t('simple_form.actions.submit') %>
<% end %>
</div>

<%= link_to t('actions.back'), home_index_path %>
