<div class="panel panel-default">
  <div class="panel-heading"><%=	@illness.diseases.first.title %></div>
  <table class="table">
    <tbody>
    <tr>
      <th style="width: 10%">Начало болезни:</th>
      <td>
        <%= @illness.created_at %>
      </td>
    </tr>
    <tr>
      <th>Лечащий врач:</th>
      <td>
        <%= link_to "#{@illness.doctor.surname} #{@illness.doctor.name}", doctor_path(id: @illness.doctor.id)%>
      </td>
    </tr>
    <tr>
      <th>Клиника:</th>
      <td>
        <%= link_to @illness.visits.last.clinic.title, clinic_path(id: @illness.visits.last.clinic.id)%>
      </td>
    </tr>
    <tr>
      <th>Визиты:</th>
      <td>
        <table class="table">
          <thead>
          <tr>
            <th>Врач</th>
            <th>Клиника</th>
            <th>Дата визита</th>
          </tr>
          </thead>
          <tbody>
          <% @illness.visits.each do |visit| %>
          <tr>
            <td style="width: 15%"><%=	visit.doctor.surname %> <%=	visit.doctor.name %></td>
            <td style="width: 15%"><%= visit.clinic.title %></td>
            <td><%= visit.date_time %></td>
          </tr>
          <% end %>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th>Симптомы:</th>
      <td>
        <table class="table">
          <thead>
          <tr>
            <th>Симптом</th>
            <th>Дата постановки симптома</th>
          </tr>
          </thead>
          <tbody>
          <%	@illness.symptoms.each  do |symptom| %>
          <tr>
            <td style="width: 15%"> <%=	symptom.title %></td>
            <td>symptom.illness_symptoms[index].created_at</td>
          </tr>
          <%	end %>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th>Назначения:</th>
      <td>
        <table class="table">
          <thead>
          <tr>
            <th>Дата выдачи рецепта</th>
            <th>Рецепт</th>
          </tr>
          </thead>
          <tbody>
          <% @illness.prescriptions.each do |prescription| %>
              <tr>
                <td style="width: 20%"><%=	prescription.created_at %></td>
                <td style="width: auto"> <%=	prescription.recommendations %></td>
              </tr>
          <%	end %>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<%= link_to 'Назад', illnesses_path, class: 'btn btn-primary btn-m' %>
