<div class="panel panel-default">
  <div class="panel-heading"><%= @doctor.surname %> <%= @doctor.name %></div>
  <table class="table">
    <thead>
    <tr>
      <th>Специализация</th>
      <th>Квалификация</th>
      <th>Места приема</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @doctor.specializations.map {|s| s.title}.join(', ') %></td>
        <td>
          <% if @doctor.grades.nil? %>
              Врач
          <% else %>
              <%= @doctor.grades.first.title %>
          <% end%>
        </td>
        <td>
          <%= @doctor.clinics.map {|c| c.title}.join(', ') %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
