<div class="panel panel-default">
  <div class="panel-heading">Врачи</div>
  <div class="panel-body">
    <% if @search %>
      <%= search_form_for @search do |f| %>
          <div class="field">
            <%= f.text_field :doctor_cont, placeholder: 'Имя врача или специализация', class: 'col-lg-3'%>
          </div>
          <div class="actions">
            <%= f.submit 'Поиск'%>
          </div>
      <% end %>
    <% end%>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>Имя</th>
      <th>Специализация</th>
      <th>Квалификация</th>
      <th>Места приема</th>
    </tr>
    </thead>
    <tbody>
    <% @doctors.each do |doctor| %>
        <tr>
          <td><%=	link_to "#{doctor.surname} #{doctor.name}", doctor_path(doctor.id) %></td>
          <td><%= doctor.specializations_title %></td>
          <td><%= doctor.grade %></td>
          <td><%= doctor.clinics %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>