<!DOCTYPE html>
<html>
<head>
  <title>Patients</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous">

  </script>
</head>
<body>
<%= link_to 'На главную', home_index_path %> <br><br>
<% if patient_signed_in? %>
    <%= link_to 'Выйти', destroy_patient_session_path, method: :delete %>
    <ul>
      <li><%= link_to 'Профиль', edit_patient_registration_path %></li>
      <li><%==	link_to 'Врачи', doctors_index_path %></li>
    </ul>
<% else %>
  <%= link_to 'Зарегистрироваться', new_patient_registration_path %>
  <%= link_to 'Войти', new_patient_session_path %>
<%	end %>
<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>

</body>
</html>
